.DS_Store
Tools/*.dmg
Tools/build
.build
NeewerLite/NeewerLite.xcodeproj/xcuserdata/xulian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NeewerLite/NeewerLite.xcodeproj/project.xcworkspace/xcuserdata/xulian.xcuserdatad/UserInterfaceState.xcuserstate
NeewerLite/NeewerLite.xcodeproj/project.xcworkspace/xcuserdata/xulian.xcuserdatad/UserInterfaceState.xcuserstate
